<!DOCTYPE html>
<html lang="he">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>פרי</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style>
    textarea {
    border: none;
    outline: none;
    }
    </style>

    <script>
        var index = 0;
    </script>
</head>

<body>
  <nav>
    <div class="nav-wrapper purple lighten-2">
      <a href="/" class="brand-logo center">אין בעד מה</a>
    </div>
  </nav>

<div class="container">
  {% block content %}
  {% endblock %}
</div>
</body>

</html>